# Python Environment & Cache
**/bin/
**/lib/
**/lib64/
**/include/
**/pyvenv.cfg
**/__pycache__/
*.pyc

# Sensitive Secrets (DO NOT REMOVE)
.env
secrets.h
*.json
!config.example.json

# Flutter/Mobile
mobile_app/.dart_tool/
mobile_app/build/
mobile_app/.packages
